* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__quadrados {
    width: calc(6 * 200px + 20px);
}

.quadrado__vermelho,
.quadrado__azul,
.quadrado__verde,
.quadrado__amarelo {
    height: 200px;
    width: 200px;
    display: inline-block;
}

.quadrado__vermelho {
    background-color: #ff0000;
}

.quadrado__azul {
    background-color: #00b0f0;
}

.quadrado__verde {
    background-color: #00b050;
}

.quadrado__amarelo {
    background-color: #ffff00;
}

#cantoSE,
#cantoIE,
#cantoSD,
#cantoID {
    background-color: #ff0000;
    border: 1px solid black;
}

/*hover*/
#cantoSE:hover,
#cantoIE:hover,
#cantoSD:hover,
#cantoID:hover {
    background-color: darkred;
}